<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>API Documentation</title>
    <link rel="shortcut icon" type="image/x-icon" href={{ url_for("static", filename="logo1.ico") }}>
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" href="{{ url_for('home')}}">GET@Job</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
          aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item active">
              <a class="nav-link " href="{{ url_for('home')}}" uk-scroll="offset:50">Home <span
                  class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
              <a class="nav-link text-white"
                href="{{ url_for('dashboard') if session['loggedin'] else url_for('loginpage')}}">Jobs</a>
            </li>
            <li class="nav-item">
              <a class="nav-link text-white"
                href="{{ url_for('apipage') if session['loggedin'] else url_for('loginpage')}}">API</a>
            </li>
            <li class="nav-item">
              <a class="nav-link text-white"
                href="{{ url_for('logout') if session['loggedin'] else url_for('loginpage')}}">{{'Log Out' if session['loggedin'] else 'Log In'}}</a>
            </li>
            <li class="nav-item">
              <a class="nav-link text-white"
                href="{{ url_for('profile') if session['loggedin'] else url_for('loginpage')}}">{{'Profile' if session['loggedin'] else ''}}</a>
            </li>
            <!--Not necessary as of Now
                <li class="nav-item active col-md-2">
                  <a class="nav-link" href="{{url_for('empLogin')}}">For Employers</a> </li>-->
          </ul>
        </div>
    </nav><br/>
    <div class="container-fluid border border-primary"
        <div class="card border border-dark">
          <div class="card-header"><h2>Job Search API</h2>
          </div>&nbsp;
          <center><p>This document describes the Job Search API.</p></center>
          <div class="card-header">
            <h4>Summary</h4>
          </div>
          <div class="card-body">
            <p>Job Search api is exposed to the programmer through a simple HTTP interface.
              Query parameters are sent via a single HTTP GET query and search results, 
              errors and diagnostic information are returned as an JSON document to ther user.
            </p>
            <div class="card-title"><h4>URL :</h4></div>
              <a href="http://localhost:8080/api/v1.0/jobs">http://localhost:8080/api/v1.0/jobs</a> <br/><br/>
            <div class="card-title"> <h4>Examples :</h4> </div>
              <p>curl is free and open source command line software used to transfer data. Curl comes preinstalled on most of the devices. We will use curl to access the api.</p>
              <p>
          </div>
          <div class="card">
            <div class="card-body">
              <code>curl -u {api token}:unused -i -X GET http://localhost:8080/api/v1.0/jobs</code>
            </div>
          </div>
          <div class="card">
            <div class="card-body">
              <code>curl -u {api token}:unused -i -X GET http://localhost:8080/api/v1.0/jobs/{searchParameter}</code>
            </div>
          </div>
          <div class="card">
            <div class="card-title"> <h4>External Examples :</h4> </div>
            <div class="card-body">
              <code>curl -u b2e9899ef59bd953f:unused -i -X GET http://localhost:8080/api/v1.0/jobs/</code>
            </div>
          </div>
          <div class="card">
            <div class="card-body">
              <code>curl -u b2e9899ef59bd953f:unused -i -X GET http://localhost:8080/api/v1.0/jobs/python</code>
            </div>
          </div>    
        <br/>

        <div class="container-fluid border border-dark">
          <div class="card">
            <div class="card-header">
              <h4>Authorization</h4></div>
            <div class="card-body">
              <p>A user is authorized by their api token, the api token is sent along with the api request, which the system verifies, and return</p>
              <p>search data to the user. Your api token is available in your <a href="{{url_for('profile')}}" >profile</a> section.</p>
              </p>
            </div>
          </div>
          </div>
        <br/>

        <div class="container-fluid border border-dark">
          <div class="card">
            <div class="card-header">
              <h4>Input Parameters</h4></div>
            <div class="card-title">&nbsp;
                <h5 >Parameter Format</h5>
            </div>
            <div class="card-body">
              <p>The input parameter must be sent using HTTP GET. Care should be taken to URL-encode the parameter correctly. Malformed parameter will either be incorrectly interpreted and or give rise to unexpected results. 
              The parameter used is a multi-valued parameter and doesn't have a name.</p>
              <div class="card-title">
                <h5>Query parameters</h5>
              </div>
              <table class="table table-border">
              <thead>
                <tr>
                  <th scope="col">Name</th>
                  <th scope="col">Description</th>
                  <th scope="col">Example</th>
                  <th scope="col">Results in</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <th scope="row">{no name}</th>
                  <td>Location</td>
                  <td>api/v1.0/jobs/Hyderabad</td>
                  <td>The list of available jobs in <b>Hyderabad</b></td>
                </tr>
                <tr>
                  <th scope="row">{no name}</th>
                  <td>skill</td>
                  <td>api/v1.0/jobs/python</td>
                  <td>The list of available jobs requiring <b>python skill</b></td>
                </tr>
                <tr>
                  <th scope="row">{no name}</th>
                  <td>position</td>
                  <td>api/v1.0/jobs/full-stack-developer</td>
                  <td>The list of available jobs with position as <b>Full-stack-developer</b></td>
                </tr>
                <tr>
                  <th scope="row">{no name}</th>
                  <td>Organisation</td>
                  <td>api/v1.0/jobs/Infosys</td>
                  <td>The list of available jobs at<b>Infosys</b></td>
                </tr>
                <tr>
                  <th scope="row">{no name}</th>
                  <td>-</td>
                  <td>api/v1.0/jobs/full-stack-developer</td>
                  <td>Details from your profile like the status of applied jobs</td>
                </tr>              
              </tbody>
              </table>
            </div>
          </div>
        </div><br/>

        <div class="container-fluid border border-dark">
          <div class="card">
            <div class="card-header">
              <h4>Output Response</h4>
            </div>
              <div class="card-title">
              <h4>Media Type</h4>
              </div>
              <p>Only JSON format is currently supported.</p>
            <div class="card-body">
              <code><pre>
                  HTTP/1.0 200 OK
                  Content-Type: application/json
                  Content-Length: 905
                  Server: Werkzeug/1.0.1 Python/3.8.5
                Date: Tue, 11 May 2021 06:08:30 GMT
      
                {
                  "joboffers": {
                    "Available jobs for 'full stack developer'": [
                      {
                        "Company": "Infosys",
                        "Role": "Full stack Developer",
                        "Location": "Hyderabad",
                        "Skill reqirement": "html",
                        "Salary": 50000,
                        "Status": "open",
                        "Posted on": "Tue, 05 Apr 2022 00:00:00 GMT"
                      },
                      {
                        "Company": "TCS",
                        "Role": "Full stack Developer",
                        "Location": "jadcherla",
                        "Skill reqirement": "HTML,CSS,JS,React",
                        "Salary": 48000,
                        "Status": "open",
                        "Posted on": "Sat, 05 Feb 2022 00:00:00 GMT"
                      },
                      {
                        "Company": "Wipro",
                        "Role": "Full stack Developer",
                        "Location": "Hyderabad",
                        "Skill reqirement": "HTML,CSS,Python,Flask",
                        "Salary": 50000,
                        "Status": "open",
                        "Posted on": "Tue, 05 Apr 2022 00:00:00 GMT"
                      }
                    ]
                  }
                }
              </pre></code>
            </div>
          </div>
        </div><br/>

        <div class="container-fluid border border-dark">
          <div class="card">
            <div class="card-header">
              <h4>Error Messages</h4>
            </div>
            <div class="card-body">
              <code>
                <p>If you try to access the api from a browser without api token.</p>
                  <pre>
                    {
                      "error": "Unauthorized access"
                    }
                  </pre>
                <p>When the api token used is incorrect,</p>
                  <pre>
                    HTTP/1.0 403 FORBIDDEN
                    Content-Type: application/json
                    Content-Length: 37
                    WWW-Authenticate: Basic realm="Authentication Required"
                    Server: Werkzeug/1.0.1 Python/3.8.5
                    Date: Tue, 11 May 2021 08:19:25 GMT
      
                    {
                      "error": "Unauthorized access"
                    }
                  </pre>
              </code>
            </div>
          </div>
        </div><br/>
      </div>
      <footer class="bg-dark text-white text-center py-3">
        Copyright &copy; 2021 Get@Job
      </footer>
    
      <!--bootstrap Sources-->
      <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css"
        integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">
      <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous">
      </script>
      <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-Piv4xVNRyMGpqkS2by6br4gNJ7DXjqk09RmUpJ8jgGtD7zP9yug3goQfGII0yAns" crossorigin="anonymous">
      </script>
      <script src="js/extention/choices.js"></script>
      <!-- Chat bot script -->
      <script>
        window.watsonAssistantChatOptions = {
            integrationID: "c685c522-84a3-48bb-9fca-57b9a3e12905", // The ID of this integration.
            region: "us-east", // The region your integration is hosted in.
            serviceInstanceID: "1b8a0ba9-3af4-460d-9122-e849d725507c", // The ID of your service instance.
            onLoad: function(instance) { instance.render(); }
          };
        setTimeout(function(){
          const t=document.createElement('script');
          t.src="https://web-chat.global.assistant.watson.appdomain.cloud/loadWatsonAssistantChat.js";
          document.head.appendChild(t);
        });
      </script>
      <script>
      function openCity(evt, cityName) {
        // Declare all variables
        var i, tabcontent, tablinks;
      
        // Get all elements with class="tabcontent" and hide them
        tabcontent = document.getElementsByClassName("tabcontent");
        for (i = 0; i < tabcontent.length; i++) {
          tabcontent[i].style.display = "none";
        }
      
        // Get all elements with class="tablinks" and remove the class "active"
        tablinks = document.getElementsByClassName("tablinks");
        for (i = 0; i < tablinks.length; i++) {
          tablinks[i].className = tablinks[i].className.replace(" active", "");
        }
      
        // Show the current tab, and add an "active" class to the link that opened the tab
        document.getElementById(cityName).style.display = "block";
        evt.currentTarget.className += " active";
      }</script>
</body>
</html>