<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register | getAjob</title>
    <link rel="shortcut icon" type="image/x-icon" href={{ url_for("static", filename="logo1.ico") }}>
</head>
<body>
    <div class="container-sm">
        {{msg}}
        <form name="signupform" action="/register" method="POST">
            <div class="form-group col-md-6">
                <label ford="usermail">Email</label>
                    <input type="email" name="usermail"class="form-control" id="inputEmail4" required>
                    <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
                <label for="username">Name</label>
                <div class="form-row">
                    <div class="col">
                        <input type="text" name="firstname" class="form-control" placeholder="First name" required>
                    </div>
                    <div class="col">
                        <input type="text" name="lastname" class="form-control" placeholder="Last name" required>
                    </div>
                </div></br>
                <label for="gender">Gender</label>
                <div class="form-row">
                    <div class="col">&nbsp;&nbsp;&nbsp;
                        <input class="form-check-input" name="gender" type="radio" name="exampleRadios" id="exampleRadios1" value="M">
                            <label class="form-check-label"  for="exampleRadios1">Male</label>
                    </div>
                    <div class="col">
                        <input class="form-check-input" name="gender" type="radio" name="exampleRadios" id="exampleRadios2" value="F">
                            <label class="form-check-label" for="exampleRadios2"> Female</label>
                    </div>
                    <div class="col">
                        <input class="form-check-input" name="gender" type="radio" name="exampleRadios" id="exampleRadios2" value="O">
                            <label class="form-check-label" for="exampleRadios2"> Other</label>
                    </div>
                </div>
                <label for="inputAge">Age</label>
                    <input type="number" min="16" max="78" name="age" class="form-control" required>
                <label for="inputAddress">About Me</label>
                    <textarea class="form-control" name="aboutme" rows=2 placeholder="I'm a..." required></textarea>
                    <small id="emailHelp" class="form-text text-muted">This will be displayed under your profile</small>
                <label for="inputAddress">Location</label>
                    <input type="text" name="city" class="form-control" id="inputAddress" placeholder="City Of Residence" required> <br/>
                <h3>Education and Certifications</h3>
                <label for="NameOfGradInst">Graduation</label>
                <input type="text" name="degree" class="form-control" placeholder="Name of Degree" required><br/>
                <div class="form-row">
                    <div class="col">
                        <input type="text" name="NameOfGradInst" class="form-control" placeholder="Name of the Institute" required>
                    </div>
                    <div class="col">
                    <input type="number" name="gradGpa" class="form-control" min=40 max=99 placeholder="Percentage obtained" required>
                    </div>
                    <div class="col">
                    <input type="date" name="gradDate" class="form-control" placeholder="Date of Completion" required>
                    </div>
                </div>
                <label for="username">Sr Secondary School</label>
                <div class="form-row">
                    <div class="col">
                        <input type="text" name="NameofSscInst" class="form-control" placeholder="Name of the Institute" required>
                    </div>
                    <div class="col">
                    <input type="number" class="form-control" name="sscGpa" min=40 max=99 placeholder="Percentage obtained" required>
                    </div>
                    <div class="col">
                    <input type="date" class="form-control" name="sscDate" placeholder="Date of Completion" required>
                    </div>
                </div>
                <label for="username">High School</label>
                <div class="form-row">
                    <div class="col">
                        <input type="text" name="NameofHsclInst" class="form-control" placeholder="Name of the Institute" required>
                    </div>
                    <div class="col">
                    <input type="number" name="HsclGpa" class="form-control" min=40 max=99 placeholder="Percentage obtained" required>
                    </div>
                    <div class="col">
                    <input type="date" name="HsclDate" class="form-control" placeholder="Date of Completion" required>
                    </div>
                </div><br/>
                <label for="inputAddress">I'm Certified In</label>
                    <textarea class="form-control" name="CertifiedAin" rows=2 placeholder="Cisco Certified Network Associate" required></textarea>
                </br>
                <h3>Skills and Work Experience</h3>
                <label for="inputAddress">I'm good at <small id="emailHelp" class="form-text text-muted">(Enter as comma separated values with best skills first)</small>
                    </label>
                        <textarea class="form-control" name="skillset" rows=2 placeholder="C, C++, Java, Kotlin, Python, JavaScript, HTML, Bootstrap, etc" required></textarea>
                        <label for="inputAddress">Github Portfolio Link </label>
                        <input type="text" name="git"class="form-control" id="inputEmail4" required>
                    <label for="inputAddress">Worked previously @</label>
                    <textarea class="form-control" name="workedAt" rows=2 placeholder="SAP Business-Systems Analyst, Supply Chain & Finance,Google Hyderabad, Telangana." required></textarea>
                <label for="workExperience">Total years of Work Experience</label>
                    <input type="number" min="0" max="15" name="workExp" class="form-control"> </br>
                <div class="form-group form-check">
                    <input type="checkbox" name="tcCheck" class="form-check-input" id="exampleCheck1">
                        <label class="form-check-label" for="exampleCheck1">
                            <small>I agree to the <a href="#">terms and Conditions</a>.</small>
                        </label>
                      </div>
                <button type="submit" class="btn btn-primary">Sign up</button>
            </div>
        </form>
    </div>
<!--bootstrap Sources-->
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css" integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-Piv4xVNRyMGpqkS2by6br4gNJ7DXjqk09RmUpJ8jgGtD7zP9yug3goQfGII0yAns" crossorigin="anonymous"></script>
</body>
</html>