<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Terms|conditions</title>
    <link rel="shortcut icon" type="image/x-icon" href={{ url_for("static", filename="logo1.ico") }}>
</head>
<body>
    <footer class="page-footer font-small bg-dark text-white pt-4">
        <div class="container-fluid text-center text-md-left">
          <div class="row">
            <div class="col-md-6 mt-md-0 mt-3">
              <h5 class="text-uppercase">GetaJob</h5>
              <p>A place to find your dreams.</p>
            </div>
            <hr class="clearfix w-100 d-md-none pb-3">
            <div class="col-md-3 mb-md-0 mb-3">
              <h5 class="text-uppercase">Explore</h5>
      
              <ul class="list-unstyled">
                <li>
                  <a href="https://github.com/smartinternz02/SPS-9770-Skill-Job-Recommender-/blob/master/README.md" target="_blank">Documentation</a>
                </li>
                <li>
                  <a href="{{url_for('apipage')}}" target="_blank">API Documentation</a>
                </li>
              </ul>
            </div>
            <div class="col-md-3 mb-md-0 mb-3">
              <h5 class="text-uppercase">Support</h5>
      
              <ul class="list-unstyled">
                <li>
                  <a href="https://github.com/smartinternz02/SPS-9770-Skill-Job-Recommender-/issues" target="_blank">Feedback</a>
                </li>
                <li>
                  <a href="https://github.com/smartinternz02/SPS-9770-Skill-Job-Recommender-" target="_blank">Contribute</a>
                </li>
              </ul>
            </div>
          </div>
        </div>
        <!-- Footer Links -->
        <!-- Copyright -->
        <div class="footer-copyright text-center py-3">© 2021 Copyright :
          <a href="{{url_for('home')}}" target="_blank"> GetaJob Inc</a> | All rights reserved |
          <a href="TermsConditions.html" target="_blank">Terms of Service </a> | Privacy
        </div>
      </footer>
</body>
</html>