<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Terms|conditions</title>
    <link rel="shortcut icon" type="image/x-icon" href={{ url_for("static", filename="logo1.ico") }}>
</head>
    <body>
      <div class="container-fluid">
        <center>
          <h1>GetaJob Terms of Service and Privacy Policy</h1>
          <p>
            These terms govern use of the website <a href="{{url_for('home')}}">getajob.com</a>.
          </p><hr>
            <img src="./../static/tc.jpg" style="width:40vw;height:20vw;" alt="Two people shaking hands as an Agreement">
        </center><hr>
        <br/>
          <div class="card">
            <div class="card-header">
            <h3> Important Terms </h3>
            <div class="card-body">
              <p>
                These terms include a number of important provisions that affect your rights and responsibilities, 
                such as the disclaimers in Disclaimers, limits on the company’s liability to you in Limits on Liability, 
                your agreement to cover the company for damages caused by your misuse of the website in Responsibility for Your Use, 
                and an agreement to arbitrate disputes in Disputes.
              </p>              
            </div>
            </div>
          </div>
          <br/>
          <div class="card">
            <div class="card-header">
              <h3>
                Your Permission to Use the Website
              </h3>
            </div>
            <div class="card-body">
              <p>Subject to these terms, the company gives you permission to use the website. 
                That permission isn’t exclusive to you, and you can’t transfer it to anyone else. 
                Others need to agree to these terms for themselves to use the website.
              </p>
            </div>
          </div>
          <br/>
          <div class="card">
            <div class="card-header">
              <h3>
                Acceptable Use
              </h3>
            </div>
            <br/>
            <div class="card-body">
              <p>
                You may not break the law using the website.
                You may not use or try to use another’s account on the website without their specific permission.
                You may not buy, sell, or otherwise trade in user names or other unique identifiers on the website.
                You may not send advertisements, chain letters, or other solicitations through the website, 
                or use the website to gather addresses for commercial mailing lists.
              </p>
            </div>
          </div>
          <br/>
          <div class="card">
            <div class="card-header">
              <h3>
                Content Standards
              </h3>
            </div>
            <div class="card-body">
              <p>
                You may not submit content to the website that is illegal, offensive, or otherwise harmful to others.
                This includes content that is harassing, inappropriate, or abusive. You may not submit content to the website
                that violates the law, infringes anyone’s intellectual property rights, violates anyone’s privacy,
                or breaches agreements you have with others.
              </p>
            </div>
          </div>
          <br/>
          <div class="card">
            <div class="card-header">
              <h3>
                Your Account
              </h3>
            </div>
            <div class="card-body">
              <p>
                You must create and log into an account to use some features of the website.
                To create an account, you must provide some information about yourself. If 
                you create an account, you agree to provide, at a minimum, a valid e-mail address, 
                and to keep that address up-to-date. You may close your account at any time by logging
                into your account and clicking the button on your account settings page.
              </p>
            </div>
          </div>
          <br/>
          <div class="card">
            <div class="card-header">
              <h3>
                Your Content
              </h3>
            </div>
            <div class="card-body">
              <p>
                Nothing in these terms gives the company any ownership rights in intellectual property that you share with the website, 
                such as your account information or other content you submit to the website. Nothing in these terms gives you any ownership
                rights in the company’s intellectual property, either.
                Between you and the company, you remain solely responsible for content you submit to the website. 
                You agree not to wrongly imply that content you submit to the website is sponsored or approved by the company. 
                These terms do not obligate the company to store, maintain, or provide copies of content you submit.
              </p>
            </div>
          </div>
          <br/>
          <div class="card">
            <div class="card-header">
              <h3>
                Your Responsibility
              </h3>
            </div>
            <div class="card-body">
              <p>
                You agree to indemnify the company from legal claims by others related to your breach of these terms, 
                or breach of these terms by others using your account on the website. Both you and the company agree to
                notify the other side of any legal claims for which you might have to indemnify the company as soon as possible. 
                If the company fails to notify you of a legal claim promptly, you won’t have to indemnify the company for damages
                that you could have defended against or mitigated with prompt notice. You agree to allow the company to control investigation, 
                defense, and settlement of legal claims for which you would have to indemnify the company, and to cooperate with those efforts. 
                The company agrees not to agree to any settlement that admits fault for you or imposes obligations on you without your prior agreement.
              </p>
            </div>
          </div>
          <br/>
          <div class="card">
            <div class="card-header">
              <h3>
                Disclaimers
              </h3>
            </div>
            <div class="card-body">
              <p>
                You accept all risk of using the website and content on the website.
                As far as the law allows, the company provides the website as is, without any warranty whatsoever.
                The website may hyperlink to and integrate websites and services run by others. The company does not make
                any warranty about services run by others, or content they may provide. Use of services run by others may be
                 governed by other terms between you and the one running the service.
              </p>
            </div>
          </div>
          <br/>
          <div class="card">
            <div class="card-header">
              <h3>
                Feedback
              </h3>
            </div>
            <div class="card-body">
              <p>
                The company welcomes your feedback and suggestions for the website. See the Contact section below for ways to get in touch with us.
                You agree that the company will be free to act on feedback and suggestions you provide, and that the company won’t have to notify you that your feedback was used, get your permission to use it, or pay you. You agree not to submit feedback or suggestions that you believe might be confidential or proprietary, to you or others
              </p>
            </div>
          </div>
          <br/>
          <div class="card">
            <div class="card-header">
              <h3>
                Termination
              </h3>
            </div>
            <div class="card-body">
              <p>
                Either you or the company may end the agreement written out in these terms at any time. When our agreement ends, your permission to use the website also ends.
                The following provisions survive the end of our agreement: Your Content, Feedback, Your Responsibility, Disclaimers, Limits on Liability, and General Terms. 
              </p>
            </div>
          </div>
          <br/>
          <div class="card">
            <div class="card-header">
              <h3>
                General Terms
              </h3>
            </div>
            <div class="card-body">
              <p>
                If a provision of these terms is unenforceable as written, but could be changed to make it enforceable, that provision should be modified to the minimum extent necessary to make it enforceable. Otherwise, that provision should be removed.

                You may not assign your agreement with the company. The company may assign your agreement to any affiliate of the company, any other company that obtains control of the company, or any other company that buys assets of the company related to the website. Any attempted assignment against these terms has no legal effect.

                Neither the exercise of any right under this Agreement, nor waiver of any breach of this Agreement, waives any other breach of this Agreement.

                These terms embody all the terms of agreement between you and the company about use of the website. These terms entirely replace any other agreements about your use of the website, written or not.
              </p>
            </div>
          </div>
          <br/>
          <div class="card">
            <div class="card-header">
              <h3>
                Contact
              </h3>
            </div>
            <div class="card-body">
              <p>
                You may notify the company under these terms, and send questions to the company, at getajob.communication@gmail.com
                The company may notify you under these terms using the e-mail address you provide for your account on the website, or by posting a message to the homepage of the website or your account page.
              </p>
            </div>
          </div>
        <br/>
      </div>
    <footer class="page-footer font-small bg-dark text-white pt-4">
        <div class="container-fluid text-center text-md-left">
          <div class="row">
            <div class="col-md-6 mt-md-0 mt-3">
              <h5 class="text-uppercase">GetaJob</h5>
              <p>A place to find your dreams.</p>
            </div>
            <hr class="clearfix w-100 d-md-none pb-3">
            <div class="col-md-3 mb-md-0 mb-3">
              <h5 class="text-uppercase">Explore</h5>
      
              <ul class="list-unstyled">
                <li>
                  <a class="nav-link" href="{{url_for('documentation')}}">Website Documentation</a>
                </li>
                <li>
                  <a href="{{url_for('learn')}}">Learning Resources</a>
                </li>
                <li>
                  <a href="{{url_for('apipage')}}">API Documentation</a>
                </li>
              </ul>
            </div>
            <div class="col-md-3 mb-md-0 mb-3">
              <h5 class="text-uppercase">Support</h5>
      
              <ul class="list-unstyled">
                <li>
                  <a href="https://github.com/smartinternz02/SPS-9770-Skill-Job-Recommender-/issues" target="_blank">Feedback</a>
                </li>
                <li>
                  <a href="https://github.com/smartinternz02/SPS-9770-Skill-Job-Recommender-" target="_blank">Contribute</a>
                </li>
              </ul>
            </div>
          </div>
        </div>
        <!-- Footer Links -->
        <!-- Copyright -->
        <div class="footer-copyright text-center py-3">© 2021 Copyright :
          <a href="{{url_for('home')}}" target="_blank"> GetaJob Inc</a> | All rights reserved |
          <a href="{{url_for('tc')}}" target="_blank">Terms of Service | Privacy Policy</a>
        </div>
      </footer>
        <!--bootstrap Sources-->
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css"
          integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">
        <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
          integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous">
        </script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.bundle.min.js"
          integrity="sha384-Piv4xVNRyMGpqkS2by6br4gNJ7DXjqk09RmUpJ8jgGtD7zP9yug3goQfGII0yAns" crossorigin="anonymous">
        </script>
        <script src="js/extention/choices.js"></script>
</body>
</html>